<div class="bg-white shadow-sm">
  <nav
    class="h-100 d-flex align-items-center justify-content-between container px-5"
    style="max-width: 1100px"
  >
    <ul class="nav nav-pills d-flex align-items-center py-1">
      <li class="nav-item">
        <a
          href="/clients/<%-c._id%>"
          class="link-dark pe-4 border-end border-muted"
          style="text-decoration: none"
          ><%-c.firstName%> <%-c.lastName%></a
        >
      </li>
      <li>
        <a href="/clients/<%-c._id%>" class="nav-link link-secondary">
          <i class="fa-regular fa-house mx-2"></i>

          Home
        </a>
      </li>
      <li>
        <a href="/clients/<%-c._id%>/notes" class="nav-link link-secondary">
          <i class="me-2 fa-regular fa-note-sticky"></i>
          Notes
        </a>
      </li>
      <li>
        <a href="/clients/<%-c._id%>/jobs" class="nav-link link-secondary">
          <i class="me-2 fa-regular fa-briefcase"></i>
          Jobs
        </a>
      </li>
    </ul>
  </nav>
</div>
