<%- include('../partials/head') -%>

<body class="d-flex flex-column" style="min-height: 100vh">
  <%- include('../partials/navbar') -%>

  <div class="d-flex flex-column flex-grow-1 w-100 bg-light">
    <%- include('../partials/flash') -%> <%- include('../partials/sidenav') -%>

    <main class="container mx-auto px-3 pb-5" style="max-width: 1000px;">
      <div class="row  mt-1">
        <div class="d-flex justify-content-center justify-content-md-end my-2">
          <a
            href="/clients/<%-c._id%>/update"
            class="text-dark rounded d-flex justify-content-center align-items-center p-1 py-2 quicklink quicklink--blue "
            style="font-size: .8rem;"
          >
              <i class="text-primary fa-regular fa-pencil"></i>
              <span class="ms-3 mb-0 fw-bold">Edit Client</span>
          </a>
          <!-- Button trigger modal -->
          <button
          type="button"
          class="text-dark rounded d-flex justify-content-center align-items-center p-1 py-2 quicklink quicklink--yellow ms-3"
          data-bs-toggle="modal"
          data-bs-target="#newNoteModal"
          style="font-size: .8rem;"
        >
        <i class="text-warning fa-regular fa-circle-plus"></i>
        <span class="ms-3 mb-0 fw-bold">Add Note</span>
  
          </button>
          <!-- Modal -->
          <div
            class="modal fade bd-example-modal-lg"
            id="newNoteModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content px-2 py-2">
                <div class="modal-header mx-3 px-0">
                  <h5 class="modal-title" id="exampleModalLabel">New Note</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <form action="/clients/<%-c._id%>/notes" method="POST">
                  <div class="modal-body border-0">
                    <div class="form-group mb-3">
                      <label
                        class="form-label text-muted small"
                        for="noteTitle"
                        >Title</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="noteTitle"
                        name="note[title]"
                      />
                    </div>
                    <div class="form-group mb-3">
                      <label
                        class="form-label text-muted small"
                        for="noteCategory"
                        >Category</label
                      >
                      <select
                        name="note[category]"
                        id="noteCategory"
                        class="form-select"
                        required
                      >
                        <option value="" hidden class="text-muted" selected>
                          Select Category
                        </option>
                        <option value="General">General</option>
                        <option value="Meeting">Meeting</option>
                        <option class="category" value="Phone Call">Phone Call</option>
                        <option value="Email">Email</option>
                        <option value="Job Update">Job Update</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label
                        class="form-label text-muted small"
                        for="noteDetail"
                        >Details</label
                      >
                      <textarea
                        class="form-control"
                        id="noteDetail"
                        name="note[detail]"
                        rows="8"
                      ></textarea>
                    </div>
                  </div>
                  <div class="modal-footer border-0">
                    <button
                      type="submit"
                      class="ms-auto btn btn-primary"
                      data-bs-dismiss="modal"
                      aria-label="Save"
                    >
                      Save Note
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                      aria-label="Cancel"
                    >
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <a
            href="/clients/<%-c._id%>/jobs/new"
            class="text-dark rounded d-flex justify-content-center align-items-center quicklink p-1 py-2 quicklink--green ms-3"
            style="font-size: .8rem;"
  
          >
              <i class="text-success fa-regular fa-circle-plus"></i>
              <span class="ms-3 mb-0 fw-bold" >Add Job</span>
          </a>
        </div>
        <div class="col-md-6 pb-4">
          <div class="bg-white shadow-sm p-4 rounded">
            
            <div class="pb-3 mb-3 border-bottom border-muted text-center">
              <i class="fa-duotone fa-circle-user text-primary mb-2" style="font-size: 4rem"></i>
              <h1 class="fs-4 m-0 me-3"><%-c.fullName%></h1>
              <small class="text-muted mb-2" style="font-style: italic"
                >Client No. <%-c.clientId%></small
              >
            </div>

            <div class="mb-2">
              <i class="text-primary fa-regular fa-cake me-2"></i>
              <%=c.shortDob; %> <%- `(${c.age} years old)` %>
            </div>

            <% if(c.jobTitle) { %>
            <div class="mb-2">
              <i class="text-primary fa-regular fa-briefcase me-2"></i>
              <%-c.jobTitle %> <%-c.company ? `at ${c.company}`: '' %>
            </div>
            <% } %>

            
          </div>
          
        </div>
        <div class="col-md-6 pb-4">
          <div class="bg-white shadow-sm p-4 rounded d-flex flex-column">
            <h2 class="fs-6 pb-2 mb-3 border-muted border-bottom">Contact Details</h2>
            <div class="text-muted small mb-1">Preferred Phone:</div>
            <div class="mb-2">
              <i class="text-primary fa-regular fa-phone me-2"></i><%- c.phone%>
            </div>
  
            <div class="text-muted small mb-1">Preferred Email:</div>
            <div class="mb-2">
              <i class="text-primary fa-regular fa-envelope me-2"></i><%-c.email %>
            </div>
  
            <div class="text-muted small mb-1">Address:</div>
            <div class="mb-2">
              <i class="text-primary fa-regular fa-location-dot me-2"></i><%-c.home%>
            </div>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-12 pb-4">
            <div class="shadow-sm p-4 bg-white rounded ">
              
              <% if(c.jobs.length > 0){ %>
              <div class="table-responsive-lg">
              <table class="table m-0">
                <thead>
                  <tr class="border-muted border-bottom">
                    <th class="fw-normal border-0 " scope="col"><h2 class="fs-6 mb-0">Active Jobs</h2></th>
                    <th class="fw-normal text-center small border-0 text-muted " scope="col">Type</th>
                    <th class="fw-normal text-center small border-0 text-muted " scope="col">Owner</th>
                    <th class="fw-normal text-center small border-0 text-muted " scope="col">Revenue</th>
                    <th class="fw-normal text-center small border-0 text-muted " scope="col">Status</th>
                    <th class="fw-normal text-center small border-0 text-muted " scope="col">Due</th>

                  </tr>
                </thead>
                <tbody>

                <% c.jobs.forEach(job => { %>
                
                <tr class="border-muted border-bottom">
                  <td class=" border-0 py-3 text-nowrap align-items-center justify-content-center small"><a href="/clients/<%-c._id%>/jobs/<%-job._id%>" class="link-success"><%- job.title %></a></td>
                  <td class="small border-0 py-3 text-center text-nowrap"><%- job.type %></td>
                  <td class="small border-0 py-3 text-center text-nowrap"><%- job.owner.firstName %> <%- job.owner.lastName %></td>
                  <td class="small border-0 py-3 text-center text-nowrap"><%- job.rev$ %></td>
                  <td class="small border-0 py-3 text-center text-nowrap"><%- job.status %></td>
                  <td class="small border-0 py-3 text-center text-nowrap"><%- job.dueDate %></td>
                </tr>
           
                <% }); %>
                </tbody>
              </table>
              </div>
            <% } else { %>
              <h2 class="fs-6 border-muted border-bottom pb-2">Active Jobs</h2>
              <div class="p-2 text-muted">There are no active jobs for <%-c.preferredName%>.</div>
            </div>
            <% } %>
          </div>
        </div>

          
            <div class="col-12 pb-4">
              <div class="shadow-sm mb-3 p-4 bg-white rounded">
                <h2 class="m-0 fs-6 border-muted border-bottom pb-2">Recent Notes</h2>
                <% if(c.notes.length > 0){ %>
                <% c.notes.forEach(note => { %>
                <a
                  href="/clients/<%-c._id%>/notes/<%-note._id%>"
                  class="text-dark note-link p-2 d-flex align-items-center justify-content-between border-bottom border-muted"
                >
                  <div class="pe-2">
                    <small class="text-muted"><%-note.createdDate %> - <%-note.author.fullName %></small>
                    <div class="d-flex align-items-center mb-1">
                      <h6 class="card-title me-3 mb-0"><%-note.title%></h6>
                      <span
                        class="badge badge-primary badge--yellow text-dark mb-0 me-3"
                        ><%-note.category%></span
                      >
                    </div>
                    <div class="small mb-1"><%- note.detail %></div>
                    
                  </div>
                  <div class="text-primary">
                    <i class="fa-regular fa-chevron-right"></i>
                  </div>
                </a>
                <% }); %>

                <% } else { %>
                  <div class="p-2 mt-2 text-muted">No notes have been created for <%-c.preferredName%>.</div>
                </div>
                <% } %>
              </div>
            
          </div>
        </div>
        
      
    </main>
  </div>

  <%- include('../partials/footer') -%>
</body>
