<%- include('../partials/head') -%>

<body class="d-flex flex-column" style="min-height: 100vh">
  <%- include('../partials/navbar') -%>

  <main
    class="d-flex flex-column flex-grow-1 bg-light container-max-width"

  >
    <%- include('../partials/flash') -%>

    <div
      class="container px-3 mx-auto w-100 h-100 my-5"
      style="max-width: 1000px"
    >
      <div
        class="border-bottom border-muted mb-3 pb-2 d-flex justify-content-between align-items-center"
      >
        <h1 class="fs-4">All Clients</h1>
        <a
          class="text-dark rounded p-2 small quicklink quicklink--blue mb-1"
          href="/clients/new"
        >
          <i class="text-primary fa-regular fa-user-plus"></i>
          <span class="ms-2 mb-0 fw-bold small text-nowrap">Add Client</span>
        </a>
      </div>
      <div class="bg-white shadow-sm">
        <% if(clients.length > 0) { %>
        <div class="table-responsive p-0 mt-3">
          <table class="table m-0">
            <thead>
              <tr class="border-muted border-bottom">
                <th
                  class="fw-normal text-muted small border-0"
                  scope="col"
                >
                  Client No.
                </th>
                <th
                  class="fw-normal text-muted small border-0"
                  scope="col"
                >
                  First Name
                </th>
                <th
                  class="fw-normal text-muted small border-0"
                  scope="col"
                >
                  Last Name
                </th>
                <th
                  class="fw-normal text-muted small border-0"
                  scope="col"
                >
                  Email
                </th>
                <th
                  class="fw-normal text-muted small border-0"
                  scope="col"
                >
                  Phone
                </th>

              </tr>
            </thead>
            <tbody>
              <% clients.forEach(client => { %>

              <tr class="bg-white">
                <td
                  class="py-3 text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted small"
                >
                  <a href="/clients/<%-client._id%>" class="link"><%- client.clientId %></a>
                </td>

                <td
                  class="py-3 text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted small"
                >
                  <%- client.firstName %>
                </td>

                <td
                  class="py-3 text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted small"
                >
                  <%- client.lastName %>
                </td>

                 <td
                  class="py-3 text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted small"
                >
                  <%- client.email %>
                </td>

                 <td
                  class="py-3 text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted small"
                >
                  <%- client.phone %>
                </td>

              </tr>

              <% }) %>
            </tbody>
          </table>
        </div>


      </div>
    </div>
        <nav aria-label="..." class="mt-5">
      <ul class="pagination justify-content-center">

        <% let pageNum, next, previous; %>
        <% for(let i = 0; i < pageCount; i++){ pageNum = i + 1; next = page + 1; previous = page - 1; %>
        <li
        <% if(page == pageNum){  %>
        class="page-item active">
        <% } else { %>
        class="page-item"
        >
        <% } %>
          <a class="page-link" href="/clients?page=<%=pageNum%>"
            ><%=pageNum%></a>
        </li>
        <% } %>
        <% if(page + 1 <= pageCount){ %>
        <li class="page-item">
          <a class="page-link" href="/clients?page=<%=next%>">Next</a>
        </li>
      <% } %>
      </ul>
    </nav>
            <% } else { %>
        <div class="px-4 py-3 mt-3 bg-white fs-5 ">
          <div>You have no existing clients, add one <a class="text" href="/clients/new">here</a></div>
        </div>
        <% } %>
  </main>
  <%- include('../partials/footer') -%>
</body>
