<%- include('../partials/head') -%>

<body class="d-flex flex-column vh-100 ">
    <%- include('../partials/navbar') -%>

<main class="container mt-5">

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>

            <% clients.forEach(client => { %>

                <tr>
                   
                    <td> <%= client.firstName %> </td>
                    <td> <%= client.lastName %> </td>
                    <td> <%= client.email %> </td>
                    <td> <%= client.phone %> </td>
                  </tr>


            <% }) %>

        </tbody>
      </table>

</main>
    
</body>

<%- include('../partials/footer') -%>