<%- include('../partials/head') -%>

<body class="d-flex flex-column vh-100 ">
    <%- include('../partials/navbar') -%>
    <div class="d-flex h-100">

    <!-- Navbar -->
    <div class="d-flex flex-column h-100 flex-shrink-0 p-3 bg-light border-end border-muted" style="width: 280px;">
        <h3 class= "ms-5 my-2 text-dark">
            <%-c.firstName%> <%-c.lastName%>
        </h3>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark ">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              Balance Sheet
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              Cashflow
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark ">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Products
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Customers
            </a>
          </li>
        </ul>
        <hr>
        <form action="/clients/<%-c._id%>?_method=DELETE" method="POST" class="w-100">
          <button class="btn btn-danger m-auto w-100">Delete Client</button>
        </form>
      </div>


<main class="container p-5 " style="background-color: #F5F5F5">
  <h1>Client Details</h1>

<form action="">

  <div class="row shadow-sm w-100 bg-white mt-4">

  
   <div class="form-row row p-2 border-bottom border-muted m-auto">
     <div class="col-6 my-auto fw-bold"><label for="inputEmail4">Salutation:</label></div>
     <div class="col-6 "><select class="form-select" aria-label="Default select example">
        <option selected>Mr</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select></div>
   </div>
  
   <div class="form-row row p-2 border-bottom border-muted m-auto">
    <div class="col-6 my-auto fw-bold"><label for="inputEmail4">First Name:</label></div>
    <div class="col-6 "><input type="text" class="form-control" id="inputEmail4" placeholder="Email" value="<%-c.firstName%>"></div>
  </div>
  
  <div class="form-row row p-2 border-bottom border-muted m-auto">
    <div class="col-6 my-auto fw-bold"><label for="inputEmail4">Last Name:</label></div>
    <div class="col-6 "><input type="text" class="form-control" id="inputEmail4" placeholder="Email" value="<%-c.lastName%>"></div>
  </div>
</div>


  <h4 class="mt-5">Contact Details</h4>
  <div class="row shadow-sm w-100 bg-white mt-3">

  
    <div class="form-row row p-2 border-bottom border-muted m-auto">
        <div class="col-6 my-auto fw-bold"><label for="inputEmail4">First Name:</label></div>
        <div class="col-6 "><input type="text" class="form-control" id="inputEmail4" placeholder="Email"></div>
      </div>
  
      <div class="form-row row p-2 border-bottom border-muted m-auto">
        <div class="col-6 my-auto fw-bold"><label for="inputEmail4">First Name:</label></div>
        <div class="col-6 "><input type="text" class="form-control" id="inputEmail4" placeholder="Email"></div>
      </div>
  
      <div class="form-row row p-2 border-bottom border-muted m-auto">
        <div class="col-6 my-auto fw-bold"><label for="inputEmail4">First Name:</label></div>
        <div class="col-6 "><input type="text" class="form-control" id="inputEmail4" placeholder="Email"></div>
      </div>
</div>

</form>
  
  </main>
</div>













    
</body>

<%- include('../partials/footer') -%>