<%- include('../partials/head') -%>

<body class="d-flex flex-column vh-100 ">
    <%- include('../partials/navbar') -%>
    <div class="d-flex h-100 w-100" style="background-color: #F5F5F5">

    <!-- Navbar -->
<%- include('../partials/sidenav') -%>




<main class="container px-5 py-4 mx-auto w-100" >
  <h1>Update Client Details</h1>

<form action="" method="POST">

  <div class="row mx-auto shadow-sm w-100 bg-white mt-4">
   <div class="form-row row p-2 border-bottom border-muted m-auto">
     <div class="col-6 my-auto fw-bold"><label for="inputEmail4">Salutation:</label></div>
     <div class="col-6 "><select class="form-select" aria-label="Default select example">
        <option selected value="Mr">Mr</option>
        <option value="Mrs">Mrs</option>
        <option value="Miss">Miss</option>
        <option value="Dr">Dr</option>
      </select></div>
   </div>
  
   <div class="form-row row p-2 border-bottom border-muted m-auto">
    <div class="col-6 my-auto fw-bold"><label for="firstName">First Name:</label></div>
    <div class="col-6 "><input type="text" class="form-control" id="firstName" name="client[firstName]" placeholder="First Name" value="<%-c.firstName%>"></div>
  </div>

  <div class="form-row row p-2 border-bottom border-muted m-auto">
    <div class="col-6 my-auto fw-bold"><label for="preferredName">Preferred Name:</label></div>
    <div class="col-6 "><input type="text" class="form-control" id="preferredName" placeholder="Preferred Name" name="client[preferredName]" value="Preferred Name"></div>
  </div>
  
  <div class="form-row row p-2 border-bottom border-muted m-auto">
    <div class="col-6 my-auto fw-bold"><label for="lastName">Last Name:</label></div>
    <div class="col-6 "><input type="text" class="form-control" id="lastName" placeholder="Last Name" name="client[lastName]" value="<%-c.lastName%>"></div>
  </div>
</div>


<h4 class="mt-5 mb-3">Update Contact Details</h4>
<div class="row mx-auto shadow-sm w-100 bg-white mb-4">

  <div class="form-row row p-2 border-bottom border-muted m-auto">
    <div class="col-6 my-auto fw-bold"><label for="address">Address:</label></div>
    <div class="col-6 "><input type="text" class="form-control" id="address" placeholder="address" name="client[address]" value="<%-c.address%>"></div>
  </div>

  <div class="form-row row p-2 border-bottom border-muted m-auto">
    <div class="col-6 my-auto fw-bold"><label for="phoneNo">Phone Number:</label></div>
    <div class="col-6 "><input type="text" class="form-control" id="phoneNo" placeholder="Phone Number" name="client[phoneNo]" value="<%-c.phoneNo%>"></div>
  </div>

  <div class="form-row row p-2 border-bottom border-muted m-auto">
    <div class="col-6 my-auto fw-bold"><label for="phoneNo">Email:</label></div>
    <div class="col-6 "><input type="text" class="form-control" id="phoneNo" placeholder="Email" name="client[email]" value="<%-c.email%>"></div>
  </div>
</div>
<button type="submit" class="btn btn-primary"><i class="me-2 bi bi-save"></i>Save Details</button>
</form>
  
  </main>
</div>


</body>

<%- include('../partials/footer') -%>