<%- include('../partials/head') -%>

<body class="d-flex flex-column" style="min-height: 100vh; height: 100%">
  <%- include('../partials/navbar') -%>
  <div class="d-flex flex-column flex-grow-1 bg-light">
    <%- include('../partials/sidenav') -%>
    <main
      class="container px-3 mx-auto w-100 h-100 my-5"
      style="max-width: 700px"
    >
      <%- include('../partials/flash') -%>
      <div class="shadow-sm bg-white position-relative p-4 card-max-width">
        <div class="">
          <div class="mb-1">
            <div class="d-flex justify-content-between">
              <h1 class="fs-4 mb-1"><%- note.title %></h1>
              <a href="/clients/<%-c._id%>/notes/<%-note._id%>/update" class="">
                <i class="fa-light fa-pencil"></i>
              </a>
            </div>
            <small class="text-muted"
              ><i class="fa-light fa-clock me-1"></i>
              <%-note.createdDate%></small
            >
          </div>
          <span class="badge badge-primary badge--yellow text-dark mb-1"
            ><%-note.category%></span
          >
          <p class="mb-2"><%- note.detail %></p>
          <small class="text-muted">By <%-note.author.fullName %></small>
        </div>
      </div>
    </main>
  </div>

  <%- include('../partials/footer') -%>
</body>
