<%- include('../partials/head') -%>

<body class="d-flex flex-column" style="min-height: 100vh">
  <%- include('../partials/navbar') -%>
  <div class="d-flex flex-column flex-grow-1" style="background-color: #f5f5f5">
    <%- include('../partials/flash') -%> <%- include('../partials/sidenav') -%>

    <main
      class="container px-5 mx-auto w-100 h-100 my-5"
      style="max-width: 900px"
    >
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="fs-3 pb-2">All Notes: <%- c.preferredName%> <%-c.lastName%></h2>
      <div class="">
              <!-- Button trigger modal -->
      <button
      type="button"
      class="text-dark rounded d-flex justify-content-center align-items-center p-2 quicklink quicklink--yellow ms-auto mb-3"
      style="width: 150px;"
      data-bs-toggle="modal"
      data-bs-target="#newNoteModal"
    >
    <div
    class="d-flex align-items-center justify-content-start"
  >
    <span class="fs-5 text-warning"
      ><i class="fa-regular fa-circle-plus"></i></span>
    <h6 class="ms-4 mb-0 fw-bold">New Note</h5>
  </div>
      </button>
      <!-- Modal -->
      <div
      class="modal fade bd-example-modal-lg"
      id="newNoteModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content px-4 py-2">
          <div class="modal-header mx-3 px-0">
            <h5 class="modal-title" id="exampleModalLabel">New Note</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form action="/clients/<%-c._id%>/notes" method="POST">
            <div class="modal-body">
              <div class="form-group mb-3">
                <label
                  class="form-label text-muted small"
                  for="noteTitle"
                  >Title</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="noteTitle"
                  name="note[title]"
                />
              </div>
              <div class="form-group mb-3">
                <label
                  class="form-label text-muted small"
                  for="noteCategory"
                  >Category</label
                >
                <select
                  name="note[category]"
                  id="noteCategory"
                  class="form-select"
                  required
                >
                  <option value="" hidden class="text-muted" selected>
                    Select Category
                  </option>
                  <option value="General">General</option>
                  <option value="Meeting">Meeting</option>
                  <option value="Phone call">Phone call</option>
                  <option value="Email">Email</option>
                </select>
              </div>
              <div class="form-group">
                <label
                  class="form-label text-muted small"
                  for="noteDetail"
                  >Details</label
                >
                <textarea
                  class="form-control"
                  id="noteDetail"
                  name="note[detail]"
                  rows="8"
                ></textarea>
              </div>
            </div>
            <div class="modal-footer border-0">
              <button
                type="submit"
                class="ms-auto btn btn-primary"
                data-bs-dismiss="modal"
                aria-label="Save"
              >
                Save Note
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                aria-label="Cancel"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
      <!-- Modal -->
      </div>
    </div>
      
      <!-- <div class="shadow-sm mb-3 p-4 bg-white rounded"> -->
        <div class="accordian" id="accordionExample">
          <% if(c.notes.length > 0) { let count = 1 %>
            <% c.notes.forEach(note => { %>

          <div class="accordian-item shadow-sm mb-4">

            <div class="p-4 d-flex justify-content-between note-link w-100 border-bottom border-muted" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%-count%>" aria-expanded="true" aria-controls="collapse<%-count%>">
              <div>
                <small class="text-muted"><%-note.shortDate %> - <%-note.author.fullName %></small>
                <div class="d-flex align-items-center mb-1 ">
                  <h5 class="card-title me-3 mb-0 "><%-note.title%></h5>
                  <span class="badge badge--yellow text-dark mb-0 me-3"><%-note.category%></span>
                </div> 
              </div>
              <div class="text-primary fs-4 align-self-center">
                <i class="fa-regular fa-chevron-down accordian-icon"></i>
              </div>
            </div>
        
            <div id="collapse<%-count%>" class="collapse accordian-body" aria-labelledby="heading<%-count%>" data-bs-parent="#accordionExample">
              <div class="px-4 py-3 bg-white accordian-body">
                <div class="mb-1" ><%- note.detail %></div> 

              </div>
            </div>

          </div>

          <% count++;})} else { %>
            <p class="text-center bg-white shadow-sm p-5">No Notes</p>
            <% } %>

        </div>
    </main>
  </div>

  <%- include('../partials/footer') -%>
</body>
<script>

  document.querySelectorAll('.accordian-item').forEach(item => {
    item.addEventListener('click', e => {
      if(item.contains(e.target) && !e.target.parentElement.classList.contains('accordian-body')){
        item.classList.toggle('accordian-item-active');
      }
    
  },)
  });
</script>