<%- include('../partials/head') -%>

<body class="d-flex flex-column" style="min-height: 100vh; height: 100%">
  <%- include('../partials/navbar') -%>
  <div class="d-flex flex-column flex-grow-1" style="background-color: #f5f5f5">
    <%- include('../partials/sidenav') -%>
    <main
      class="container px-5 mx-auto w-100 h-100 my-5"
      style="max-width: 700px"
    >
      <%- include('../partials/flash') -%>
      <div class="shadow-sm bg-white position-relative">
        <div class="p-5 pb-4">
          <div
            class="note-links fs-5 position-absolute pe-5 d-flex"
            style="right: 0; text-decoration: none"
          >
            <div class="">
              <a
                href="/clients/<%-c._id%>/notes/<%-note._id%>/update"
                class="pe-4"
              >
                <i class="fa-light fa-pencil"></i>
              </a>
            </div>
          </div>

          <div class="mb-4">
            <h1 class="fs-4 mb-0"><%- note.title %></h1>
            <small class="text-muted"
              ><i class="fa-light fa-clock me-1"></i>
              <%-note.createdDate%></small
            >
          </div>

          <p class="text-muted mb-4"><%- note.detail %></p>
        </div>
      </div>
    </main>
  </div>

  <%- include('../partials/footer') -%>
</body>
