<%- include('../partials/head') -%>

<body class="d-flex flex-column" style="min-height: 100vh">
  <%- include('../partials/navbar') -%>
  <div class="d-flex flex-grow-1" style="background-color: #f5f5f5">
    <%- include('../partials/flash') -%> <%- include('../partials/sidenav') -%>

    <main
      class="container px-5 mx-auto w-100 h-100 my-5"
      style="max-width: 900px"
    >
      <!-- Button trigger modal -->
      <button
        type="button"
        class="d-block btn btn-primary ms-auto mb-3"
        data-bs-toggle="modal"
        data-bs-target="#newNoteModal"
      >
        <i class="bi bi-plus-circle-fill pe-2"></i>New Note
      </button>
      <!-- Modal -->
      <div
        class="modal fade bd-example-modal-lg"
        id="newNoteModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">New Note</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form action="/clients/<%-c._id%>/notes" method="POST">
              <div class="modal-body">
                <div class="form-group mb-3">
                  <label
                    class="form-label"
                    for="noteTitle"
                    style="font-weight: 700"
                    >Title</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="noteTitle"
                    name="note[title]"
                  />
                </div>
                <div class="form-group mb-3">
                  <label
                    class="form-label"
                    for="noteCategory"
                    style="font-weight: 700"
                    >Category</label
                  >
                  <select
                    name="note[category]"
                    id="noteCategory"
                    class="form-select"
                    required
                  >
                    <option value="" hidden class="text-muted" selected>
                      Select Category
                    </option>
                    <option value="General">General</option>
                    <option value="Meeting">Meeting</option>
                    <option value="Phone call">Phone call</option>
                    <option value="Email">Email</option>
                  </select>
                </div>
                <div class="form-group">
                  <label
                    class="form-label"
                    for="noteDetail"
                    style="font-weight: 700"
                    >Details</label
                  >
                  <textarea
                    class="form-control"
                    id="noteDetail"
                    name="note[detail]"
                    rows="8"
                  ></textarea>
                </div>
              </div>
              <div class="modal-footer border-0">
                <button
                  type="submit"
                  class="ms-auto btn btn-primary"
                  data-bs-dismiss="modal"
                  aria-label="Save"
                >
                  Save
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  aria-label="Cancel"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <% if(c.notes.length > 0) {c.notes.forEach(note => { %>
      <div class="shadow-sm p-2 mb-3 bg-white rounded">
        <div class="card-body">
         
          <div class="d-flex justify-content-between">
            <h5 class="card-title mb-1"><%= note.title %></h5>
            <small class="text-muted"
            ><%=note.date.toLocaleDateString( 'en-gb', { year: 'numeric', month:
            'long', day: 'numeric' }) %></small
          >
          </div>
          <span class="badge badge-primary bg-primary mb-2"><%= note.category %></span>
          
          
          <p class="card-text mb-0  "><%= note.detail %></p>
          <p class="card-text text-muted">
            <small><%= note.author ? note.author.fullName : 'No author' %></small
            >
          </p>
          <a href="notes/<%-note._id%>">View Note</a>
          <div class="d-flex justify-content-end ">
            <a href="notes/<%-note._id%>/update" class="primary">
              <i
                class="bi bi-pencil"
                data-bs-toggle="modal"
                data-bs-target="#test"
              ></i>
            </a>
          </div>
        </div>
      </div>
      <% })} else { %>
      <p class="text-center bg-white shadow-sm p-5">No Notes</p>
      <% } %>
    </main>
  </div>

  <%- include('../partials/footer') -%>
</body>