<%- include('../partials/head') -%>

<body class="d-flex flex-column" style="min-height: 100vh; height: 100%">
  <%- include('../partials/navbar') -%>
  <div class="d-flex flex-column flex-grow-1 bg-light">
    <%- include('../partials/sidenav') -%>
    <main class="container px-3 mx-auto w-100 h-100 my-5">
      <%- include('../partials/flash') -%>
      <div class="shadow-sm p-4 bg-white card-max-width">
        <h1 class="fs-4 mb-3 pb-2 border-bottom border-muted">Edit Note</h1>
        <form
          action="/clients/<%-c._id%>/notes/<%-note._id%>?_method=PUT"
          method="POST"
        >
          <div class="form-group mb-3">
            <label for="noteTitle" class="text-muted small">Title</label>
            <input
              type="text"
              class="form-control"
              id="noteTitle"
              name="note[title]"
              value="<%- note.title %>"
            />
          </div>
          <div class="form-group mb-3">
            <label for="noteCategory" class="text-muted small">Category</label>
            <select
              name="note[category]"
              id="noteCategory"
              class="form-select"
              required
            >
              <option value="" hidden class="text-muted" selected>
                Select Category
              </option>
              <option class="category" value="General">General</option>
              <option class="category" value="Meeting">Meeting</option>
              <option class="category" value="Phone Call">Phone Call</option>
              <option class="category" value="Email">Email</option>
              <option class="category" value="Job Update">Job Update</option>
            </select>
          </div>
          <div class="form-group mb-4">
            <label for="noteDetail" class="text-muted small">Details</label>
            <textarea
              class="form-control"
              id="noteDetail"
              name="note[detail]"
              rows="7"
            >
<%- note.detail %></textarea
            >
          </div>

          <div>
            <button type="submit" class="btn btn-primary" aria-label="Save">
              Save Note
            </button>
            <a
              href="/clients/<%-c._id%>/notes/<%-note.id%>"
              type="button"
              class="btn btn-secondary"
              aria-label="Cancel"
            >
              Cancel
            </a>
          </div>
        </form>
      </div>
    </main>
  </div>

  <%- include('../partials/footer') -%>
</body>

<script>
  let prefilSelect = (currentVal, options) => {
    options.forEach((option) => {
      if (currentVal == option.value) {
        option.setAttribute('selected', 'selected');
      }
    });
  };
  const categories = document.querySelectorAll('.category');
  const category = '<%-note.category%>';
  prefilSelect(category, categories);
</script>
