<%- include('../partials/head') -%>

<body class="d-flex flex-column" style="min-height: 100vh; height: 100%">
  <%- include('../partials/navbar') -%>
  <div class="d-flex flex-column flex-grow-1" style="background-color: #f5f5f5">
    <%- include('../partials/sidenav') -%>
    <main
      class="container px-5 mx-auto w-100 h-100 my-5"
      style="max-width: 700px"
    >
      <%- include('../partials/flash') -%>
      <div class="shadow-sm bg-white position-relative">
        <div class="p-5 pb-4">
          <div
            class="note-links fs-5 position-absolute pe-5 d-flex"
            style="right: 0; text-decoration: none"
          >
            <div class="">
              <a href="/clients/<%-c._id%>/jobs/<%-job._id%>/update">
                <i class="fa-light fa-pencil"></i>
              </a>
            </div>
          </div>

          <div class="mb-4">
            <h1 class="fs-4 mb-0"><%- job.title %></h1>
            <small class="text-muted"
              ><i class="fa-light fa-clock me-1"></i>
              <%-job.createdDate%></small
            >
          </div>

          <p class="text-muted mb-4"><%- job.description %></p>
          <hr />
          <div class="d-flex mb-2 text-muted small">
            <div style="min-width: 100px">Job Type:</div>
            <span> <%- job.type %></span>
          </div>

          <div class="d-flex mb-2 text-muted small">
            <div style="min-width: 100px">Revenue:</div>
            <span> <%- job.rev$ %></span>
          </div>

          <div class="d-flex mb-2 text-muted small">
            <div style="min-width: 100px">Status:</div>
            <% if(job.status === "Completed"){ %>
            <span class="text-success"><%-job.status%></span>
            <% } else { %>
            <span><%-job.status%></span>
            <% } %>
          </div>

          <% if(job.status !== "Completed"){ %>
          <div class="d-flex mb-2 text-muted small">
            <div class="" style="min-width: 100px">Due:</div>
            <% if(job.due < new Date()){ %>
            <span class="text-danger"><%-job.dueDate%> </span>
            <% } else { %>
            <span><%-job.dueDate%> </span>
            <% } %>
          </div>
          <% } %>

          <div class="d-flex mb-2 text-muted small">
            <div style="min-width: 100px">Assigned to:</div>
            <span> <%- job.owner.firstName %> <%- job.owner.lastName %></span>
          </div>
        </div>

        <% job.notes.forEach(note => { %>

        <div class="border-muted border-top shadow-sm px-5 p-3 bg-white">
          <div class="text-muted small">
            <span><%- note.createdDate %></span> -
            <span><%- note.author.fullName %></span>
          </div>
          <div class="small"><%- note.detail %></div>
        </div>

        <% }); %>
      </div>

      <div class="shadow-sm px-5 p-3 bg-white mt-3">
        <form
          action="/clients/<%- c._id %>/jobs/<%- job._id %>?_method=PUT"
          method="POST"
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control bg-light border border-light fs-6"
              style="border-radius: 1000px"
              name="job[update]"
              id="jobUpdate"
              placeholder="Add update note..."
            />
          </div>
        </form>
      </div>
    </main>
  </div>

  <%- include('../partials/footer') -%>
</body>
