<%- include('../partials/head') -%>

<body class="d-flex flex-column" style="min-height: 100vh; height: 100%">
  <%- include('../partials/navbar') -%>
  <div class="d-flex flex-column flex-grow-1 bg-light">
    <%- include('../partials/sidenav') -%>
    <main class="container px-3 mx-auto w-100 h-100 my-5">
      <%- include('../partials/flash') -%>
      <div class="shadow-sm bg-white position-relative mb-3 p-4 card-max-width">
        <div class="">
          <div class="mb-4">
            <div class="d-flex justify-content-between">
              <h1 class="fs-4 mb-0"><%- job.title %></h1>
              <% if(job.status !== "Completed"){ %>
              <a href="/clients/<%-c._id%>/jobs/<%-job._id%>/update">
                <i class="fa-light fa-pencil"></i>
              </a>
              <% } %>
            </div>
            <small class="text-muted"
              ><i class="fa-light fa-clock me-1"></i>
              <%-job.createdDate%></small
            >
          </div>

          <p class="text-muted mb-3"><%- job.description %></p>
          <hr />
          <div class="d-flex mb-2 text-muted small">
            <div style="min-width: 100px">Job Type:</div>
            <span> <%- job.type %></span>
          </div>

          <div class="d-flex mb-2 text-muted small">
            <div style="min-width: 100px">Revenue:</div>
            <span> <%- job.rev$ %></span>
          </div>

          <div class="d-flex mb-2 text-muted small">
            <div style="min-width: 100px">Status:</div>
            <% if(job.status === "Completed"){ %>
            <span class="text-success"><%-job.status%></span>
            <% } else { %>
            <span><%-job.status%></span>
            <% } %>
          </div>

          <% if(job.status !== "Completed"){ %>
          <div class="d-flex mb-2 text-muted small">
            <div class="" style="min-width: 100px">Due:</div>
            <% if(job.due < new Date()){ %>
            <span class="text-danger"><%-job.dueDate%> </span>
            <% } else { %>
            <span><%-job.dueDate%> </span>
            <% } %>
          </div>
          <% } %>

          <div class="d-flex mb-2 text-muted small">
            <div style="min-width: 100px">Assigned to:</div>
            <span> <%- job.owner.firstName %> <%- job.owner.lastName %></span>
          </div>
        </div>

        <% job.notes.forEach(note => { %>

        <div class="border-muted border-top py-3 bg-white">
          <small class="text-muted mb-1"><%- note.createdDate %></small>

          <div class="small mb-1"><%- note.detail %></div>

          <small class="text-muted">By <%- note.author.fullName %></small>
        </div>

        <% }); %>
      </div>

      <% if(job.status !== "Completed"){ %>
      <div class="shadow-sm p-3 bg-white mt-3 card-max-width">
        <form
          action="/clients/<%- c._id %>/jobs/<%- job._id %>?_method=PUT"
          method="POST"
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control bg-light border px-3 py-2 border-light"
              style="border-radius: 1000px"
              name="job[update]"
              id="jobUpdate"
              placeholder="Add update note..."
            />
          </div>
        </form>
      </div>

      <% } %>
    </main>
  </div>

  <%- include('../partials/footer') -%>
</body>
