<%- include('../partials/head') -%>

<body class="d-flex flex-column" style="min-height: 100vh">
  <%- include('../partials/navbar') -%> <%- include('../partials/sidenav') -%>
  <main
    class="d-flex flex-column flex-grow-1"
    style="background-color: #f5f5f5"
  >
    <div class="px-5 mx-auto w-100 h-100 my-5" style="max-width: 1000px">
      <div
        class="border-bottom border-muted mb-3 pb-2 d-flex justify-content-between align-items-center"
      >
        <h1 class="fs-3">All Jobs: <%-c.preferredName%> <%-c.lastName%></h1>
        <a
          class="text-dark rounded d-flex justify-content-center align-items-center p-2 quicklink quicklink--green ms-auto mb-1"
          style="right: 0; width: 150px"
          href="/clients/<%-c._id%>/jobs/new"
        >
          <span class="fs-5 text-success"
            ><i class="fa-regular fa-circle-plus"></i
          ></span>
          <span class="ms-3 mb-0 fw-bold">New Job</span>
        </a>
      </div>

      <div class="row">
        <div class="col-3">
          <form action="/clients/<%-c._id%>/jobs" method="GET">
            <div class="" style="min-width: 100px">
              <h2 class="fs-5 p-1">Filter</h2>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item border-bottom border-muted">
                  <h2
                    class="accordion-header accordian-custom"
                    id="flush-headingOne"
                  >
                    <button
                      class="accordion-button accordian-custom collapsed p-1 py-2"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne"
                      aria-expanded="false"
                      aria-controls="flush-collapseOne"
                    >
                      Type
                    </button>
                  </h2>
                  <div
                    id="flush-collapseOne"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingOne"
                  >
                    <div class="accordion-body accordian-custom">
                      <div class="form-check px-2 py-0">
                        <input
                          class="form-check-input check-filter"
                          type="checkbox"
                          id="typeAll"
                        />
                        <label class="form-check-label" for="typeAll">
                          All
                        </label>
                      </div>

                      <div class="form-check px-2 py-0">
                        <input
                          class="form-check-input check-filter type-filter"
                          type="checkbox"
                          value="New"
                          id="typeNew"
                          name="type"
                        />
                        <label class="form-check-label" for="typeNew">
                          New
                        </label>
                      </div>
                      <div class="form-check px-2 py-0">
                        <input
                          class="form-check-input check-filter type-filter"
                          type="checkbox"
                          value="Update"
                          name="type"
                          id="typeUpdate"
                        />
                        <label class="form-check-label" for="typeUpdate">
                          Update
                        </label>
                      </div>
                      <div class="form-check px-2 py-0">
                        <input
                          class="form-check-input check-filter"
                          type="checkbox"
                          value="Other"
                          name="type"
                          id="typeOther"
                        />
                        <label class="form-check-label" for="typeOther">
                          Other
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item accordian-custom">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button
                      class="accordion-button accordian-custom collapsed p-1 py-2"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo"
                      aria-expanded="false"
                      aria-controls="flush-collapseTwo"
                    >
                      Status
                    </button>
                  </h2>
                  <div
                    id="flush-collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingTwo"
                  >
                    <div class="accordion-body accordian-custom">
                      <div class="form-check px-2 py-0">
                        <input
                          class="form-check-input check-filter"
                          type="checkbox"
                          id="statusAll"
                        />
                        <label class="form-check-label" for="statusAll">
                          All
                        </label>
                      </div>
                      <div class="form-check px-2 py-0">
                        <input
                          class="form-check-input check-filter status-filter"
                          type="checkbox"
                          value="Not Started"
                          id="statusNotStarted"
                          name="status"
                        />
                        <label class="form-check-label" for="statusNotStarted">
                          Not Started
                        </label>
                      </div>
                      <div class="form-check px-2 py-0">
                        <input
                          class="form-check-input check-filter status-filter"
                          type="checkbox"
                          value="In Progress"
                          id="statusInProgress"
                          name="status"
                        />
                        <label class="form-check-label" for="statusInProgress">
                          In Progress
                        </label>
                      </div>
                      <div class="form-check px-2 py-0">
                        <input
                          class="form-check-input check-filter status-filter"
                          type="checkbox"
                          value="On Hold"
                          id="statusOnHold"
                          name="status"
                        />
                        <label class="form-check-label" for="statusOnHold">
                          On Hold
                        </label>
                      </div>
                      <div class="form-check px-2 py-0">
                        <input
                          class="form-check-input check-filter status-filter"
                          type="checkbox"
                          value="Finalising"
                          id="statusFinalising"
                          name="status"
                        />
                        <label class="form-check-label" for="statusFinalising">
                          Finalising
                        </label>
                      </div>

                      <div class="form-check px-2 py-0">
                        <input
                          class="form-check-input check-filter status-filter"
                          type="checkbox"
                          value="Completed"
                          id="statusCompleted"
                          name="status"
                        />
                        <label class="form-check-label" for="statusCompleted">
                          Completed
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item accordian-custom">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button
                      class="accordion-button accordian-custom collapsed p-1 py-2"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree"
                      aria-expanded="false"
                      aria-controls="flush-collapseThree"
                    >
                      Revenue
                    </button>
                  </h2>
                  <div
                    id="flush-collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingThree"
                  >
                    <div class="accordion-body px-1 py-2">
                      <div class="row">
                        <div class="col">
                          <label for="filter-min" class="form-label">Min</label>
                          <input
                            type="text"
                            class="form-control"
                            id="filter-min"
                            name="min"
                            placeholder="$ 0"
                          />
                        </div>
                        <div class="col ps-0">
                          <label for="filter-max" class="form-label">Max</label>
                          <input
                            type="text"
                            class="form-control"
                            id="filter-max"
                            name="max"
                            placeholder="$ 0"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-primary my-2" type="submit">Update</button>
          </form>
        </div>

        <div class="col-9">
          <div class="bg-white shadow-sm">
            <% if(c.jobs.length > 0) { %>
            <div class="table-responsive p-0">
              <table class="table m-0">
                <thead>
                  <tr class="border-muted border-bottom">
                    <th class="fw-normal text-muted small border-0" scope="col">
                      Job
                    </th>
                    <th class="fw-normal text-muted small border-0" scope="col">
                      Owner
                    </th>
                    <th class="fw-normal text-muted small border-0" scope="col">
                      Type
                    </th>

                    <th class="fw-normal text-muted small border-0" scope="col">
                      Revenue
                    </th>
                    <th class="fw-normal text-muted small border-0" scope="col">
                      Status
                    </th>
                    <th class="fw-normal text-muted small border-0" scope="col">
                      Due/Completed
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% c.jobs.forEach(job => { %>

                  <tr class="bg-white">
                    <td
                      class="py-3 text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
                    >
                      <a
                        href="/clients/<%-c._id%>/jobs/<%-job._id%>"
                        class="link-success"
                        ><%- job.title %></a
                      >
                    </td>
                    <td
                      class="py-3 text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted small"
                    >
                      <%- job.owner.firstName %> <%- job.owner.lastName %>
                    </td>
                    <td
                      class="small py-3 text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
                    >
                      <span
                        class="badge badge-primary badge--green text-dark mb-0"
                      >
                        <%- job.type %></span
                      >
                    </td>

                    <td
                      class="py-3 text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted small"
                    >
                      <%- job.rev$ %>
                    </td>
                    <td
                      class="text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted small"
                    >
                      <% if(job.status === 'Completed'){ %>
                      <span
                        class="py-2 text-success text-center rounded badge--green d-block"
                        ><%- job.status %></span
                      >
                      <% } else { %>
                      <span class="py-2 text-center rounded d-block"
                        ><%- job.status %></span
                      >
                      <% } %>
                    </td>
                    <% if(job.status === 'Completed'){ %>
                    <td
                      class="py-3 text-nowrap text-success align-items-center justify-content-center col-sm border-bottom border-muted small"
                    >
                      <%- job.completedDate %>
                    </td>
                    <% } else { %>
                    <td
                      class="py-3 text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted small"
                    >
                      <%- job.dueDate %>
                    </td>
                    <% } %>
                  </tr>

                  <% }) %>
                </tbody>
              </table>
            </div>

            <% } else { %>
            <div class="p-4 fs-5 mt-3 rounded text-muted shadow-sm">
              There are no jobs assosciated with this client.
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include('../partials/footer') -%>
</body>
<script>
  //input filter options
  const checkboxFilters = document.querySelectorAll('.check-filter');
  const params = new URLSearchParams(window.location.search);

  for (const input of checkboxFilters) {
    for (const param of params.values()) {
      if (input.value === param) {
        input.checked = true;
      }
    }
  }

  //job status filters
  const statusFilters = document.querySelectorAll('.status-filter');
  const statusAll = document.querySelector('#statusAll');

  statusFilters.forEach((box) => {
    box.addEventListener('change', () => {
      statusAll.checked = false;
    });
  });

  statusAll.addEventListener('change', () => {
    statusFilters.forEach((box) => {
      box.checked = false;
    });
  });

  if (!params.has('status')) {
    statusAll.checked = true;
  }

  //job type filters
  const typeFilters = document.querySelectorAll('.type-filter');
  const typeAll = document.querySelector('#typeAll');

  typeFilters.forEach((box) => {
    box.addEventListener('change', () => {
      typeAll.checked = false;
    });
  });

  typeAll.addEventListener('change', () => {
    typeFilters.forEach((box) => {
      box.checked = false;
    });
  });

  const minFilter = document.querySelector('#filter-min');
  const maxFilter = document.querySelector('#filter-max');
  if (params.has('min')) {
    minFilter.value = params.get('min');
  }

  if (params.has('max')) {
    maxFilter.value = params.get('max');
  }
</script>
