<%- include('../partials/head') -%>

<body class="d-flex flex-column" style="min-height: 100vh">
  <%- include('../partials/navbar') -%>
  <div class="d-flex flex-column flex-grow-1 bg-light">
    <%- include('../partials/flash') -%> <%- include('../partials/sidenav') -%>

    <main
      class="container px-3 mx-auto w-100 h-100 my-5"
      style="max-width: 600px"
    >
      <div class="bg-white shadow-sm p-4 card-max-width">
        <form
          action="/clients/<%- c._id %>/jobs/<%- job._id %>?_method=PUT"
          method="POST"
        >
          <h1 class="mb-4 pb-2 border-bottom border-muted fs-4">
            Update Job for <%-c.preferredName%> <%-c.lastName%>
          </h1>

          <div class="form-group mb-2">
            <label class="form-label small text-muted" for="jobTitle"
              >Job Title</label
            >
            <input
              type="text"
              class="form-control"
              id="jobTitle"
              name="job[title]"
              value="<%- job.title %>"
            />
          </div>

          <div class="form-group mb-2">
            <label class="form-label small text-muted" for="jobDescription"
              >Description</label
            >
            <textarea
              class="form-control"
              id="jobDescription"
              name="job[description]"
              rows="3"
            >
<%- job.description %></textarea
            >
          </div>

          <div class="form-label small text-muted">Job Type</div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input job-type"
              type="radio"
              name="job[type]"
              id="jobTypeNew"
              value="New"
            />
            <label class="form-check-label" for="jobTypeNew">New</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input job-type"
              type="radio"
              name="job[type]"
              id="jobTypeUpdate"
              value="Update"
            />
            <label class="form-check-label job-type" for="jobTypeUpdate"
              >Update</label
            >
          </div>

          <div class="form-check form-check-inline">
            <input
              class="form-check-input job-type"
              type="radio"
              name="job[type]"
              id="jobTypeOther"
              value="Other"
            />
            <label class="form-check-label job-type" for="jobTypeOther"
              >Other</label
            >
          </div>

          <div class="form-group my-2">
            <label class="form-label small text-muted" for="jobRevenue"
              >Revenue</label
            >
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input
                name="job[revenue]"
                id="jobRevenue"
                type="text"
                class="form-control"
                aria-label="Amount (to the nearest dollar)"
                value="<%- job.revenue %>"
              />
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>
          </div>

          <div class="form-group mb-2">
            <label class="form-label small text-muted" for="jobStatus"
              >Job Status</label
            >
            <select
              name="job[status]"
              id="jobStatus"
              class="form-select"
              required
            >
              <option value="" hidden class="text-muted" selected>
                Select job status
              </option>
              <option class="job-status" value="Not Started">
                Not Started
              </option>
              <option class="job-status" value="In Progress">
                In Progress
              </option>
              <option class="job-status" value="Finalising">Finalising</option>
              <option class="job-status" value="On Hold">On Hold</option>
            </select>
          </div>

          <div class="form-group mb-4">
            <label class="form-label small text-muted" for="dueDate"
              >Due date:</label
            >
            <input
              type="date"
              class="form-control"
              id="dueDate"
              placeholder=""
              name="job[due]"
              pattern="^[^0-9]+$"
              value="<%- job.dateValue %>"
            />
          </div>

          <div class="mt-3">
            <button
              type="submit"
              class="ms-auto btn btn-primary"
              data-bs-dismiss="modal"
              aria-label="Save"
            >
              Save Job
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              aria-label="Cancel"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </main>
  </div>

  <%- include('../partials/footer') -%>
</body>

<script>
  // stateOptions.forEach(state => {
  //   if(addressState == state.value){
  //     state.setAttribute('selected', 'selected');
  //   }

  // });

  const typeOptions = document.querySelectorAll('.job-type');
  const jobType = '<%-job.type%>';

  typeOptions.forEach((option) => {
    if (jobType === option.value) {
      option.checked = true;
    }
  });

  let prefilSelect = (currentVal, options) => {
    options.forEach((option) => {
      if (currentVal == option.value) {
        option.setAttribute('selected', 'selected');
      }
    });
  };

  const statusOptions = document.querySelectorAll('.job-status');
  const currentStatus = '<%- job.status %>';
  prefilSelect(currentStatus, statusOptions);
</script>
