<%- include('../partials/head') -%>

<body class="d-flex flex-column bg-light" style="min-height: 100vh">
  <%- include('../partials/navbar') -%>

  <main class="container flex-grow-1 px-3 pb-5 pt-3" style="max-width: 1200px; ">
    <%- include('../partials/flash') -%>

    <div
      class="d-md-flex justify-content-between border-bottom border-muted mb-3 pb-2 align-items-center"
    >
      <div class="text-center text-md-start">
        <h1 class="mb-0 pb-0 fs-4">Hi, <%-user%></h1>
        <span class="text-muted small text-right"
          ><%- new Date().toLocaleDateString( 'en-au', {weekday: 'long', year:
          'numeric', month:'long', day: 'numeric' }) %>
        </span>
      </div>

      <div class="d-flex justify-content-center justify-content-md-end my-2">
        <a
          class="text-dark rounded d-flex justify-content-center align-items-center px-2 py-1 quicklink quicklink--blue"
          href="/clients"
          style="width: 120px"
        >
          <span class="text-primary"><i class="fa-regular fa-user"></i></span>
          <span class="ms-3 mb-0 fw-bold">Clients </span>
        </a>
        <a
          href="/notes"
          class="text-dark rounded d-flex justify-content-center align-items-center quicklink px-2 py-1 quicklink--yellow ms-3"
          style="width: 120px"
        >
          <span class="fs-5 text-warning"
            ><i class="fa-regular fa-note-sticky"></i
          ></span>
          <span class="ms-3 mb-0 fw-bold">Notes</span>
        </a>

        <a
          class="text-dark rounded d-flex justify-content-center align-items-center quicklink px-2 py-1 quicklink--green ms-3"
          style="width: 120px"
          href="/jobs"
        >
          <span class="fs-5 text-success"
            ><i class="fa-regular fa-briefcase"></i
          ></span>
          <span class="ms-3 mb-0 fw-bold">Jobs</span>
        </a>
      </div>
    </div>

    <div class="row mb-4 position-relative">
      <div class="position-absolute" style="top: -10px">
        <button
          class="btn dropdown-toggle p-0"
          style="font-size: 0.8rem"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="true"
        >
          <i class="fa-light fa-calendar me-1"></i>
          <span class="rev-period-selector">This Month</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li class="dropdown-item rev-period-option" style="font-size: 0.8rem">
            This Month
          </li>
          <li class="dropdown-item rev-period-option" style="font-size: 0.8rem">
            This Year
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-4">
        <div class="shadow-sm rounded bg-white mt-4 p-3 d-flex align-items-center h-100 ">
          <span
            class="badge--green text-center me-3 pt-1 rounded-circle d-flex justify-content-center align-items-center icon-circle"

            ><i class="fa-regular fa-dollar-sign text-success fs-3"></i
          ></span>
          <div class="position-relative">
            <small class="text-muted">Revenue Earned </small>
            <div class="fs-3 rev-earned">
              <%-Intl.NumberFormat("en-US", { style: "currency", currency:
              "USD", minimumFractionDigits: 0, maximumFractionDigits: 2,
              }).format(completed.revenue.month)%>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 mb-4">
        <div class="shadow-sm bg-white mt-4 p-3 d-flex align-items-center h-100">
          <span
            class="icon-circle badge--purple text-center me-3 pt-1 rounded-circle d-flex justify-content-center align-items-center"
            ><i class="fa-regular fa-check text-purple fs-3"></i></i
          ></span>
          <div>
            <small class="text-muted">Jobs Completed</small>
            <div class="fs-3 jobs-completed"><%-completed.count.month%></div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 mb-4">
        <div class="shadow-sm rounded bg-white mt-4 p-3 d-flex align-items-center h-100">
          <span
            class="icon-circle badge--blue text-center me-3 rounded-circle d-flex justify-content-center align-items-center"
            ><i class="fa-regular fa-hand-holding-dollar fs-3 text-primary"></i></span>
          <div class="">
            <small class="text-muted">Total Pipeline</small>
            <div class="fs-3">
              <%-Intl.NumberFormat("en-US", { style: "currency", currency:
              "USD", minimumFractionDigits: 0, maximumFractionDigits: 2,
              }).format(revPipeline.reduce((a, b) => { return a + b }, 0))%>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 mb-4">
        <div class="shadow-sm rounded bg-white mt-4 p-3 d-flex align-items-center h-100">
          <span
            class="icon-circle badge--yellow text-center me-3 rounded-circle d-flex justify-content-center align-items-center"

            ><i class="fa-regular fa-person-digging fs-3 text-warning"></i></span>
          <div class="">
            <small class="text-muted">Jobs in Progress</small>
            <div class="fs-3">
              <%-jobStatusData.reduce((a, b) => { return a + b }, 0)%>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-4 mb-4">
      <div class="col-12 col-md-6">
        <div class="shadow-sm rounded bg-white fs-1 p-3 h-100">
          <h2 class="ps-2 fs-5">Monthly Revenue</h2>
          <div>
            <canvas id="monthly-revenue-chart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="shadow-sm rounded p-3 bg-white fs-1 h-100">
          <h2 class="ps-2 fs-5">Pipeline $ by Status</h2>
          <div>
            <canvas id="revenue-status-chart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-4 mb-4">
      <div class="col-12 col-md-6">
        <div class="shadow-sm rounded p-3 bg-white h-100">
          <div class="table-responsive">
            <h2 class="ps-2 fs-5">Active Jobs</h2>
            <table class="table m-0">
              <thead>
                <tr class="border-muted border-bottom">
                  <th class="fw-normal small border-0 text-muted" scope="col">
                    Job
                  </th>
                  <th class="fw-normal small border-0 text-muted" scope="col">
                    Client
                  </th>
                  <th class="fw-normal small border-0 text-muted" scope="col">
                    Status
                  </th>
                  <th class="fw-normal small border-0 text-muted" scope="col">
                    Due
                  </th>
                </tr>
              </thead>
              <tbody>
                <% activeJobs.forEach(job => { %>

                <tr>
                  <td
                    class="border-0 py-2 text-nowrap align-items-center justify-content-center col-sm small"
                  >
                    <a
                      class="link-success"
                      style="text-decoration: none"
                      href="clients/<%-job.client._id%>/jobs/<%-job._id%>"
                      ><%- job.title %></a
                    >
                  </td>
                  <td
                    class="border-0 py-2 text-nowrap align-items-center justify-content-center col-sm small"
                  >
                    <%- job.client.preferredName%> <%- job.client.lastName%>
                  </td>
                  <td
                    class="border-0 py-2 text-nowrap align-items-center justify-content-center col-sm small"
                  >
                    <%-job.status %>
                  </td>
                  <td
                    class="border-0 py-2 text-nowrap align-items-center justify-content-center col-sm small"
                  >
                    <%-job.dueDate %>
                  </td>
                </tr>

                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="shadow-sm rounded p-3 bg-white fs-1 h-100">
          <h2 class="ps-2 fs-5">Job per Status</h2>
          <div>
            <canvas id="job-status-chart"></canvas>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="shadow-sm rounded p-3 bg-white h-100">
          <div class="table-responsive">
            <h2 class="fs-5">
              Upcoming Birthdays
            </h2>
            <table class="table m-0">
              <thead>
                <tr class="border-muted border-bottom">
                  <th class="fw-normal small border-0 text-muted" scope="col">
                    Client
                  </th>
                  <th class="fw-normal small border-0 text-muted" scope="col">
                    Birthday
                  </th>
                </tr>
              </thead>
              <tbody>
                <% birthdays.forEach(birthday => { %>
                <tr class="">
                  <td
                    class="border-0 py-2 text-nowrap align-items-center justify-content-center col-sm small "
                  >
                    <a
                    class=""
                      style="text-decoration: none"
                      href="clients/<%-birthday._id%>"
                      ><%- birthday.preferredName %> <%- birthday.lastName %></a
                    >
                  </td>
                  <td
                    class="border-0 py-2 text-nowrap align-items-center justify-content-center col-sm small"
                  >
                    <span><%- birthday.birthdate %></span>
                  </td>
                </tr>

                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-4 mb-4">
      <div class="col-12 col-md-6">
        <div class="shadow-sm rounded p-3 bg-white">
          <div class="table-responsive">
            <h2 class="ps-2 fs-5">New Clients</h2>
            <table class="table m-0">
              <thead>
                <tr class="border-muted border-bottom">
                  <th class="fw-normal small border-0 text-muted" scope="col">
                    Client
                  </th>
                  <th class="fw-normal small border-0 text-muted" scope="col">
                    Phone
                  </th>
                  <th class="fw-normal small border-0 text-muted" scope="col">
                    Email
                  </th>
                </tr>
              </thead>
              <tbody>
                <% newClients.forEach(client => { %>
                <tr>
                  <td
                    class="border-0 py-2 text-nowrap align-items-center justify-content-center col-sm small"
                  >
                    <a
                      class="link-primary"
                      style="text-decoration: none"
                      href="clients/<%-client._id%>"
                      ><%- client.preferredName %> <%- client.lastName %></a
                    >
                  </td>

                  <td
                    class="border-0 py-2 text-nowrap align-items-center justify-content-center col-sm small"
                  >
                    <%-client.phone%>
                  </td>
                  <td
                    class="border-0 py-2 text-nowrap align-items-center justify-content-center col-sm small"
                  >
                    <%-client.email%>
                  </td>
                </tr>

                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="shadow-sm rounded p-3 bg-white">
          <div class="table-responsive">
            <h2 class="ps-2 fs-5">Recent Notes</h2>
            <table class="table m-0">
              <thead>
                <tr class="border-muted border-bottom">
                  <th class="fw-normal small border-0 text-muted" scope="col">
                    Title
                  </th>
                  <th class="fw-normal small border-0 text-muted" scope="col">
                    Client
                  </th>
                  <th class="fw-normal small border-0 text-muted" scope="col">
                    Type
                  </th>
                  <th class="fw-normal small border-0 text-muted" scope="col">
                    Created
                  </th>
                </tr>
              </thead>
              <tbody>
                <% recentNotes.forEach(note => { %>
                <tr>
                  <td
                    class="border-0 py-2 text-nowrap align-items-center justify-content-center col-sm small"
                  >
                    <a
                      class="text-dark quicklink quicklink--yellow px-2"
                      style="text-decoration: none"
                      href="clients/<%-note.client._id%>/notes/<%-note._id%>"
                      ><%- note.title %></a
                    >
                  </td>
                  <td
                    class="border-0 py-2 text-nowrap align-items-center justify-content-center col-sm small"
                  >
                    <span
                      ><%- note.client.preferredName %> <%- note.client.lastName
                      %></span
                    >
                  </td>
                  <td
                    class="border-0 py-2 text-nowrap align-items-center justify-content-center col-sm small"
                  >
                    <span><%- note.category %></span>
                  </td>
                  <td
                    class="border-0 py-2 text-nowrap align-items-center justify-content-center col-sm small"
                  >
                    <span><%- note.createdDate%></span>
                  </td>
                </tr>

                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>

    <%- include('../partials/footer') -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    let revPeriod = "Month";
    const revPeriods = document.querySelectorAll('.rev-period-option');
    const revEarned = document.querySelector('.rev-earned');
    const jobsCompleted = document.querySelector('.jobs-completed');
    const revPeriodSelector = document.querySelector('.rev-period-selector');

    revPeriods.forEach(option => {
      option.addEventListener('click', e => {
      revPeriodSelector.innerText = e.target.innerText;

        if(e.target.innerText == "This Month"){
          revEarned.innerText = Intl.NumberFormat("en-US", { style: "currency", currency: "USD",
            minimumFractionDigits: 0, maximumFractionDigits: 2,
            }).format(<%-completed.revenue.month %>);
          jobsCompleted.innerText = <%-completed.count.month %>;
        } else {
          revEarned.innerText = Intl.NumberFormat("en-US", { style: "currency", currency: "USD",
            minimumFractionDigits: 0, maximumFractionDigits: 2,
            }).format(<%-completed.revenue.year %>);
          jobsCompleted.innerText = <%-completed.count.year %>;
        }
    
    });
    })
    
</script>

<script> 
    //chart js configuration   
    const chartColors = ["#7231db", "#ffc107","#007bff", "#28a745"];
    const statusLables = ["Not Started", "On Hold", "In Progess", "Finalising"];

    //bar chart for monthly revenue
    const monthlyRevData = {
      labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
      datasets: [
        {
          label: "Last Year",
          backgroundColor: ["#B4D6C1"],
          data: [<%- revLastYear %>],
          borderRadius: 20,
        },
        {
          label: "This Year",
          backgroundColor: ["#28a745"],
          data: [<%- revThisYear %>],
          borderRadius: 20,
        }
      ],
    };

    const monthlyRevChart = new Chart(
      document.getElementById("monthly-revenue-chart"),
      {
        type: "bar",
      data: monthlyRevData,
      options: {
        scales: {
          y: {
            ticks: {
              callback: (value, index, values) => {
                return new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD',minimumFractionDigits: 0,minimumFractionDigits: 0 }).format(value);
              }
            }
          }
        }
      }

      }
    );

    //horizontal bar chart for pipeline value based on job status
    const revStatusDate = {
      labels: statusLables,
      datasets: [
        {

          indexAxis: 'y',
          backgroundColor: chartColors,
          borderRadius: 20,
          data: [<%- revPipeline %>],
        },
      ],
    };

    const revStatusChart = new Chart(
        document.getElementById("revenue-status-chart"),
        {
        type: "bar",
        data: revStatusDate,
        options: {
            plugins: {
                legend: {
                    display: false,
                }
            }
            }
        
        }
    );


    //pie chart for job per status
    const jobStatusData = {
      labels: statusLables,
      datasets: [
        {
        
          backgroundColor: chartColors,
          data: [<%- jobStatusData %>],
        },
      ],
    };

    const jobStatusChart = new Chart(
      document.getElementById("job-status-chart"),
      {
        type: "pie",
        data: jobStatusData,
        options: {
          plugins: {
              legend: {
                  display: false,
              }
          }
        }
      }
    );
</script>

</body>



