<%- include('../partials/head') -%>

<body class="d-flex flex-column" style="min-height: 100vh">
  <%- include('../partials/navbar') -%>
  <div class="d-flex flex-column flex-grow-1" style="background-color: #f5f5f5">
    <%- include('../partials/flash') -%>

    <main
      class="container px-5 mx-auto w-100 h-100 my-5"
      style="max-width: 1000px"
    >
      <div class="border-bottom border-muted">
        <h1 class="fs-3">Your Jobs</h1>
      </div>
      <div class="bg-white shadow-sm">
        <% if(activeJobs.length > 0) { %>
        <div class="table-responsive p-0 mt-3">
          <table class="table m-0">
            <thead>
              <tr class="border-muted border-bottom">
                <th
                  class="fw-normal text-muted text-center small border-0"
                  scope="col"
                >
                  Job
                </th>
                <th
                  class="fw-normal text-muted text-center small border-0"
                  scope="col"
                >
                  Type
                </th>
                <th
                  class="fw-normal text-muted text-center small border-0"
                  scope="col"
                >
                  Owner
                </th>
                <th
                  class="fw-normal text-muted text-center small border-0"
                  scope="col"
                >
                  Revenue
                </th>
                <th
                  class="fw-normal text-muted text-center small border-0"
                  scope="col"
                >
                  Status
                </th>
                <th
                  class="fw-normal text-muted text-center small border-0"
                  scope="col"
                >
                  Due
                </th>
              </tr>
            </thead>
            <tbody>
              <% activeJobs.forEach(job => { %>

              <tr class="bg-white">
                <td
                  class="py-3 text-nowrap text-center align-items-center justify-content-center col-sm border-bottom border-muted"
                >
                  <a href="" class="link"><%- job.title %></a>
                </td>
                <td
                  class="py-3 text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
                >
                  <span class="badge badge-primary badge--green text-dark mb-0"
                    ><%- job.type %></span
                  >
                </td>
                <td
                  class="py-3 text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
                >
                  <%- job.owner %>
                </td>
                <td
                  class="py-3 text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
                >
                  <%-Intl.NumberFormat("en-US", { style: "currency", currency:
                  "USD", minimumFractionDigits: 0, maximumFractionDigits: 2,
                  }).format(job.revenue) %>
                </td>
                <td
                  class="text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
                >
                  <span class="py-2 text-success rounded badge--green d-block"
                    ><%- job.status %></span
                  >
                </td>
                <td
                  class="py-3 text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted small"
                >
                  <%- job.dueDate %>
                </td>
              </tr>

              <% }) %>
            </tbody>
          </table>
        </div>

        <% } else { %>
        <div class="px-4 py-3 mt-3 bg-white accordian-body">
          <div>No active jobs</div>
        </div>
        <% } %>
      </div>
    </main>
  </div>

  <%- include('../partials/footer') -%>
</body>

<!-- <div class="accordian">
  <div
    class="p-4 d-flex justify-content-between accordian-item accordian-item-active align-items-center w-100 shadow-sm"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseActive"
    aria-expanded="true"
    aria-controls="collapseActive"
  >
    <div>
      <div class="d-flex align-items-center mb-1">
        <h2 class="fs-5 card-title me-3 mb-0">Active Jobs</h2>
        <span class="badge badge--green text-success mb-0 me-3">
          <%-activeJobs.length %></span
        >
      </div>
    </div>
    <div class="text-primary fs-4 align-self-center">
      <i class="fa-regular fa-chevron-down accordian-icon"></i>
    </div>
  </div>
  <div
    id="collapseActive"
    class="collapse show accordian-body accordian-item mx-3"
    aria-labelledby="headingActive"
    data-bs-parent="#accordionExample"
  >
    <% if(activeJobs.length > 0) { %>
    <div class="table-responsive p-0 mt-3">
      <table class="table">
        <thead>
          <tr>
            <th
              class="fw-normal text-muted text-center small border-0"
              scope="col"
            >
              Job
            </th>
            <th
              class="fw-normal text-muted text-center small border-0"
              scope="col"
            >
              Type
            </th>
            <th
              class="fw-normal text-muted text-center small border-0"
              scope="col"
            >
              Owner
            </th>
            <th
              class="fw-normal text-muted text-center small border-0"
              scope="col"
            >
              Revenue
            </th>
            <th
              class="fw-normal text-muted text-center small border-0"
              scope="col"
            >
              Status
            </th>
            <th
              class="fw-normal text-muted text-center small border-0"
              scope="col"
            >
              Due
            </th>
          </tr>
        </thead>
        <tbody>
          <% activeJobs.forEach(job => { %>

          <tr class="bg-white">
            <td
              class="py-3 text-nowrap text-center align-items-center justify-content-center col-sm border-bottom border-muted"
            >
              <a href="" class="link"><%- job.title %></a>
            </td>
            <td
              class="py-3 text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
            >
              <span class="badge badge-primary badge--green text-dark mb-0"
                ><%- job.type %></span
              >
            </td>
            <td
              class="py-3 text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
            >
              <%- job.owner %>
            </td>
            <td
              class="py-3 text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
            >
              <%-Intl.NumberFormat("en-US", { style: "currency", currency:
              "USD", minimumFractionDigits: 0, maximumFractionDigits: 2,
              }).format(job.revenue) %>
            </td>
            <td
              class="text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
            >
              <span class="py-2 text-success rounded badge--green d-block"
                ><%- job.status %></span
              >
            </td>
            <td
              class="py-3 text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted small"
            >
              <%- job.dueDate %>
            </td>
          </tr>

          <% }) %>
        </tbody>
      </table>
    </div>

    <% } else { %>
    <div class="px-4 py-3 mt-3 bg-white accordian-body">
      <div>No active jobs</div>
    </div>
    <% } %>
  </div>

  <div
    class="p-4 mt-3 d-flex justify-content-between accordian-item align-items-center note-link w-100 shadow-sm"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseCompleted"
    aria-expanded="true"
    aria-controls="collapseCompleted"
  >
    <div>
      <div class="d-flex align-items-center mb-1">
        <h2 class="card-title fs-5 me-3 mb-0">Completed Jobs</h2>
        <span class="badge badge--green text-success mb-0 me-3">
          <%-completedJobs.length %></span
        >
      </div>
    </div>
    <div class="text-primary fs-4 align-self-center">
      <i class="fa-regular fa-chevron-down accordian-icon"></i>
    </div>
  </div>
  <div
    id="collapseCompleted"
    class="collapse accordian-item accordian-item mx-3"
    aria-labelledby="headingCompleted"
    data-bs-parent="#accordionExample"
  >
    <% if(completedJobs.length > 0) { %>
    <div class="table-responsive mt-3 p-0">
      <table class="table">
        <thead>
          <tr>
            <th class="fw-normal text-muted small border-0" scope="col">Job</th>
            <th
              class="fw-normal text-muted text-center small border-0"
              scope="col"
            >
              Type
            </th>
            <th
              class="fw-normal text-muted text-center small border-0"
              scope="col"
            >
              Owner
            </th>
            <th
              class="fw-normal text-muted text-center small border-0"
              scope="col"
            >
              Revenue
            </th>
            <th
              class="fw-normal text-muted text-center small border-0"
              scope="col"
            >
              Status
            </th>
            <th
              class="fw-normal text-muted text-center small border-0"
              scope="col"
            >
              Due
            </th>
          </tr>
        </thead>
        <tbody>
          <% completedJobs.forEach(job => { %>

          <tr class="bg-white">
            <td
              class="py-3 text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
            >
              <a href="" class="link"><%- job.title %></a>
            </td>
            <td
              class="py-3 text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
            >
              <span class="badge badge-primary badge--green text-dark mb-0"
                ><%- job.type %></span
              >
            </td>
            <td
              class="py-3 text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
            >
              Owner
            </td>
            <td
              class="py-3 text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
            >
              <%-Intl.NumberFormat("en-US", { style: "currency", currency:
              "USD", minimumFractionDigits: 0, maximumFractionDigits: 2,
              }).format(job.revenue) %>
            </td>
            <td
              class="text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted"
            >
              <span class="py-2 text-success rounded badge--green d-block"
                ><%- job.status %></span
              >
            </td>
            <td
              class="py-3 text-center text-nowrap align-items-center justify-content-center col-sm border-bottom border-muted small"
            >
              <%- job.dueDate %>
            </td>
          </tr>

          <% }) %>
        </tbody>
      </table>
    </div>

    <% } else { %>
    <div class="px-4 py-3 mt-3 bg-white accordian-body">
      <div>No completed jobs</div>
    </div>
    <% } %>
  </div>
</div> -->
