<%- include('../partials/head') -%>

<body class="d-flex flex-column" style="min-height: 100vh">
  <%- include('../partials/navbar') -%>
  <div class="d-flex flex-grow-1" style="background-color: #f5f5f5">
    <main
      class="container px-5 mx-auto w-100 h-100 my-5"
      style="max-width: 900px"
    >
      <% if(notes.length > 0){ %>
      <div class="accordion" id="accordionExample">
        <% notes.forEach(note => { %> <% let itemCount = 1; %>
        <div class="accordion-item shadow-sm border-0">
          <h2 class="accordion-header" id="heading<%-itemCount%>">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse<%-itemCount%>"
              aria-expanded="true"
              aria-controls="collapse<%-itemCount%>"
            >
              <div class="d-flex flex-column">
                <small class="text-muted"><%-note.shortDate %></small>
                <span class="fs-5"><%-note.title%></span>
                <span
                  class="badge badge-primary badge--yellow text-dark mb-0 me-3"
                  ><%-note.category%></span
                >
              </div>
            </button>
          </h2>
          <div
            id="collapse<%-itemCount%>"
            class="accordion-collapse collapse show"
            aria-labelledby="heading<%-itemCount%>"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body"><%-note.detail %></div>
          </div>
        </div>
        <% itemCount++ }); %>
      </div>

      <% } else { %>
      <div class="bg-white shadow-sm p-3">You haven't created any notes.</div>
      <% } %>
    </main>
  </div>

  <%- include('../partials/footer') -%>
</body>
